@import "reset";

html,
body {
	width: 100%;
}

@orange: #ff8400;

.container {
	position: relative;

	width: 100%;

	.content {
		position: relative;
		margin: 0px 30px;
		padding-bottom: 10px;
		padding-top: 30px;
		.content-header {
			font-weight: bold;
			padding: 20px 0px;
			text-align: center;
			height: 100%;
			background: #FF8500;
			color: #f4f4f4;
			border-radius:  10px 10px 0 0;
		}

		.content-item {
			border: 1px #ccc solid;
			display: flex;
			line-height: 80px;
			text-align: center;
			position: relative;

			&:nth-child(2){
				background: #f3f3f3;
				color: #999;
			}

			.item-left {
				width: 33.333%;
				border-right: 1px #ccc solid;
				background: #f3f3f3;
				color: #999;
			}

			.item-middel {
				width: 33.333%;
				border-right: 1px #ccc solid;
			}

			.item-right {
				width: 33.333%;
			}

			.item-img {
				position: absolute;
				right: 30px;
				top: 25px;
			}
		}

		.btn {
			padding-left: 20px;
		}


	}
}