<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title></title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=750, user-scalable=no">
	<link rel="stylesheet" href="../css/ckydList.css">

</head>

<body>

	<div class="container">

		<div class="header">

			<div class="return" onclick="history.go(-1)"> <img src="../img/1_40.png"></div>
			出库运单
		</div>

		<div class="search">
			<input type="text" id="inputInf" placeholder="输入出库单号/装卸队伍搜索"> <label id="scarchBtn">搜索</label>

			<img src="../img/1_28.png">
		</div>

		<div class="content">

			<div class="scroll-wra" id="scrollWra">
				<div class="wrapper">
					<div class="list" id="list"></div>

					<div class="loadText">上滑加载更多</div>
				</div>
			</div>

		</div>

	</div>

	<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
	<script src="../scripts/lib/ejs.min.js"></script>
	<script src="../scripts/lib/commonFunc.js"></script>
	<script src="../scripts/lib/common.js"></script>
	<script src="../scripts/lib/api.js"></script>
	<script src="../scripts/plugins/betterScroll/bscroll.js"></script>
	<script>


		var scrollWra = new BScroll('#scrollWra', {
			scrollbar: {
				fade: true
			},
			click: true,
			pullUpLoad: {
				threshold: 0
			}
		});

		var inputInf = '';

		var totalPage = 1; // 总页数;
		var page = 1; // 第一页;
		var html = '';

		getData('GET', api.ckyd.findPageApi, {
			accountId: accountId,
			pageNo: page,
			pageSize: 10,
			inputInf: inputInf,
		}, function (res) {
			if (res.code == 200) {
				if (res.data.list.length > 0) {
					totalPage = res.data.totalPage;
					var data = res.data.list;
					renderData(data);
				} else {
					$('.loadText').text('暂无数据');
				}
			}
		});

		scrollWra.on('pullingUp', function () {
			if (totalPage == page) {
				$('.loadText').text('没有更多数据了');
				return false;
			}

			page++;
			getData('GET', api.ckyd.findPageApi, {
				accountId: accountId,
				pageNo: page,
				pageSize: 10,
				inputInf: inputInf,
			}, function (res) {
				if (res.code == 200) {
					if (res.data.list.length > 0) {
						totalPage = res.data.totalPage;
						var data = res.data.list;
						renderData(data);
					} else {
						$('.loadText').text('暂无数据');
					}
				}
			});

		});


		function renderData(data) {
			$('.loadText').text('正在加载中...');
			Global.requestTempByAjax('../temp/ckyd/list.html', {
				list: data
			}, function (template) {
				$('#list').append(template);
				scrollWra.finishPullUp();
				scrollWra.refresh();
				$('.loadText').text('上滑加载更多...');
			});
		}


		// 点击搜索
		$('#scarchBtn').on('click', function () {
			page = 1;
			$('#list').html('');
			inputInf = $('#inputInf').val();
			getData('GET', api.ckyd.findPageApi, {
				accountId: accountId,
				pageNo: page,
				pageSize: 10,
				inputInf: inputInf,
			}, function (res) {
				if (res.code == 200) {
					if (res.data.list.length > 0) {
						totalPage = res.data.totalPage;
						var data = res.data.list;
						renderData(data);
					} else {
						$('.loadText').text('暂无数据');
					}

				}
			});
		});


		// 点击进入详情
		$('.container').on('click', '.content-item', function () {
			var id = $(this).attr('data-id');
			window.location.href = './ckydDetail.html?id=' + id + '&accountId=' + accountId;
		});

		/*点击确认完成*/

		$('.container').on('click', '#btn1', function (e) {
			var that = this;
			var outWaybillNo = $(that).parent().attr('data-outwaybillno') //运单id
			var id = $(that).parent().attr('data-id');
			e.stopPropagation();
			common.alert({
				mask: true,
				title: '提示',
				content: '运单已作业完成，是否确认完成？',
				okValue: '确认完成',
				dialog: true,
				ok: function (res) {
					getData('POST', api.ckyd.saveOutWaybill, {
						accountId: accountId,
						id: id,
					}, function (res) {
						if (res.code == 200) {
							$(that).attr('id','btn5').text('生成工单');
						} else {
							common.alert({
								mask: true,
								content: res.msg
							})
						}
					})

				},

			});
		});

		/*点击完成工单*/
		$('.container').on('click', '#btn5', function (e) {
			var that = this;
			var outWaybillNo = $(that).parent().attr('data-outwaybillno') //运单id
			var id = $(that).parent().attr('data-id');
			e.stopPropagation();
			common.alert({
				mask: true,
				title: '提示',
				content: '运单已作业完成，同步生成出库工单？',
				okValue: '立即生成',
				dialog: true,
				ok: function (res) {
					getData('POST', api.ckgd.addOutWorkOrderMain, {
						accountId: accountId,
						id: id,
					}, function (res) {
						if (res.code == 200) {
							$(that).removeClass('btn5').addClass('btn3').text('已记工单').attr('id','');
						} else {
							common.alert({
								mask: true,
								content: res.msg
							})
						}
					});

				},

			});
		})


	</script>
</body>

</html>