<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/kqInquire.css">
</head>

<body>

    <div class="container">

        <div class="header">

            <a href="javascript:history.back(-1)" class="return"> <img src="../img/1_40.png"></a>
            库区查询
        </div>

    </div>

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script src="../scripts/lib/ejs.min.js"></script>
    <script src="../scripts/lib/commonFunc.js"></script>
    <script src="../scripts/lib/common.js"></script>
    <script src="../scripts/lib/api.js"></script>
    <script src="../scripts/lib/echarts.js"></script>
    <script src="../scripts/other/kqInquire.js"></script>
</body>

</html>