<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/rkgdDetail.css">
</head>

<body>

    <div class="container">

        <div class="header">

            <a href="javascript:history.back(-1)" class="return"> <img src="../img/1_40.png"></a>
            入库工单详情

            <span class="head-state" id="head-state"></span>
        </div>

        <div class="content">

            <!--工单信息-->
            <div class="gd-infor">
                <div class="gd-list">
                    <div class="gd-item">
                        <div class="gd-key">工单单号</div>
                        <div class="gd-val" id="storageWorkNo"></div>
                    </div>

                    <div class="gd-item">
                            <div class="gd-key">仓单编号</div>
                            <div class="gd-val" id="warehouseOrderNo"></div>
                        </div>
                    <div class="gd-item">
                        <div class="gd-key">制单人</div>
                        <div class="gd-val" id="createBy"></div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">完成日期</div>
                        <div class="gd-val" id="finishTime"></div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">劳务公司</div>
                        <div class="gd-val" id="serviceCompanyName"></div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系人</div>
                        <div class="gd-val" id="serviceCompanyContacter"></div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系电话</div>
                        <div class="gd-val" id="serviceCompanyPhone"></div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">装卸队伍</div>
                        <div class="gd-val" id="serviceTeamName"></div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系人</div>
                        <div class="gd-val" id="serviceTeamContacter"></div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系电话</div>
                        <div class="gd-val" id="serviceTeamPhone"></div>
                    </div>
                    <div class="last-gd-item">
                        <div class="gd-left">备注：</div>
                        <div class="gd-right" id="remarks"></div>
                    </div>

                    <div class="gd-item other-gd-item">
                        <div class="gd-dec active">
                            <img class="icon-down" src="../img/1_29.png">
                            <div class="gd-text">展开运单表单</div>
                        </div>
                        <div class="gd-dec">
                            <img class="icon-down" src="../img/1_30.png">
                            <div class="gd-text">收起运单表单</div>
                        </div>

                    </div>
                </div>
            </div>


            <!--运单表单-->
            <div class="yd-list" id="list"></div>

            <!--审核记录-->
            <div class="review-wra">
                <div class="review-title">审核记录</div>
                <div class="review-list" id="review-list"></div>
            </div>
        </div>


        <!--大图-->
        <div class="preview-win" id="preview-win">
            <img src="../img/1_100.png" alt="">
        </div>

    </div>
    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script src="../scripts/lib/ejs.min.js"></script>
    <script src="../scripts/lib/commonFunc.js"></script>
    <script src="../scripts/lib/common.js"></script>
    <script src="../scripts/lib/api.js"></script>
    <script src="../scripts/other/rkgdDetail.js"></script>
</body>

</html>