<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/rkgdDetail.css">
</head>

<body>

    <div class="container">

        <div class="header">

            <div class="return"> <img src="../img/1_40.png"></div>
            入库工单详情
        </div>

        <div class="content">

            <!--工单信息-->
            <div class="gd-infor">
                <div class="gd-list">
                    <div class="gd-item">
                        <div class="gd-key">工单单号</div>
                        <div class="gd-val">OC20190723001</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">制单人</div>
                        <div class="gd-val">OC20190723001</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">完成日期</div>
                        <div class="gd-val">OC20190723001</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">劳务公司</div>
                        <div class="gd-val">蓝天劳务股份有限公司</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系人</div>
                        <div class="gd-val">李文斌</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系电话</div>
                        <div class="gd-val">18521041000</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">装卸队伍</div>
                        <div class="gd-val">蓝天装卸队伍1</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系人</div>
                        <div class="gd-val">刘亚伟</div>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">联系电话</div>
                        <div class="gd-val">18965975200</div>
                    </div>
                    <div class="gd-item last-gd-item">
                        <div class="gd-left">备注：</div>
                        <div class="gd-right">
                            无
                        </div>
                    </div>
                    <div class="gd-item last-gd-item">
                        <div class="gd-left">附件：</div>
                        <div class="gd-right">
                            <img class="preview-img" src="../img/1_100.png" alt="">
                            <div class="preview-btn" id="preview-btn">(点击查看大图)</div>
                        </div>
                    </div>
                    <div class="gd-item other-gd-item">
                        <div class="gd-dec active">
                            <img class="icon-down" src="../img/1_29.png">
                            <div class="gd-text">展开运单表单</div>
                        </div>
                        <div class="gd-dec">
                            <img class="icon-down" src="../img/1_30.png">
                            <div class="gd-text">收起运单表单</div>
                        </div>

                    </div>
                </div>
            </div>


            <!--运单表单-->
            <div class="yd-list" id="yd-list">
                <div class="yd-item">
                    <div class="yd-con">
                        <div class="yd-child-item">
                            <div class="yd-child-dec">
                                <div class="yd-child-key">入库单号：</div>
                                <div class="yd-child-val">OD201907200001</div>
                            </div>
                        </div>
                        <div class="yd-child-item double-find">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">入库库区：</div>
                                <div class="yd-child-val">a库区</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">所属库房：</div>
                                <div class="yd-child-val">1号库房</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">所属园区：</div>
                                <div class="yd-child-val">A园区</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">附加费用(元)：</div>
                                <div class="yd-child-val">500</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">入库数量：</div>
                                <div class="yd-child-val">A园区</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">入库重量(吨)：</div>
                                <div class="yd-child-val">30.00</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec">
                                <div class="yd-child-key">仓租付止日：</div>
                                <div class="yd-child-val">2019-09-11</div>
                            </div>
                        </div>
                    </div>

                    <div class="yd-con">
                        <div class="yd-child-item first-bottom-item">
                            <div class="yd-child-dec">
                                <div class="yd-child-key">产品名称：</div>
                                <div class="yd-child-val">华唐牌白糖</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">生产批次：</div>
                                <div class="yd-child-val">2019-09-11</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">生产日期：</div>
                                <div class="yd-child-val">2019-07-24</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">包装规格：</div>
                                <div class="yd-child-val">50kg/包</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品单位：</div>
                                <div class="yd-child-val">包</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品等级：</div>
                                <div class="yd-child-val">一级</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品榨季：</div>
                                <div class="yd-child-val">19/20</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品大类：</div>
                                <div class="yd-child-val">白糖类</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品品牌：</div>
                                <div class="yd-child-val">华糖牌</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!--大图-->
        <div class="preview-win" id="preview-win">
            <img src="../img/1_100.png" alt="">
        </div>

    </div>
    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script>

        // 显示隐藏运单列表
        $('.gd-dec').on('click',function () {
            $(this).removeClass('active').siblings().addClass('active');
            $('#yd-list').toggle();
        });


        // 点击查看大图
        $('#preview-btn').on('click',function () {
            $('#preview-win').fadeIn();
        });

        // 点击关闭大图
        $('#preview-win').on('click',function () {
            $('#preview-win').fadeOut();
        });
    </script>
</body>

</html>