<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/rksqAddS.css">
</head>

<body>

    <div class="container">

        <div class="header">

            <div class="return"> <img src="../img/1_40.png"></div>
            新增入库申请
        </div>

        <div class="content">

            <!--工单信息-->
            <div class="gd-infor">
                <div class="gd-list">
                    <div class="gd-item">
                        <div class="gd-key">申请单号</div>
                        <input type="text" disabled="false" class="gd-val"></input>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">工作班次</div>
                        <input type="text" class="gd-val"></input>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">申请班次</div>
                        <input type="text" class="gd-val"></input>
                    </div>


                    <div class="gd-item last-gd-item">
                        <div class="gd-left">备注：</div>
                        <div class="gd-right">
                            <textarea>111</textarea>
                        </div>
                    </div>
                    <div class="gd-item last-gd-item">
                        <div class="gd-left">附件：</div>

                        <div class="gd-right1">
                            <img src="../img/1_32.png">
                        </div>
                        <!-- <div class="gd-right">
                            <img class="preview-img" src="../img/1_100.png" alt="">
                            <div class="preview-btn" id="preview-btn">(点击查看大图)</div>
                        </div> -->
                    </div>

                </div>
            </div>


            <!--申请明细-->
            <div class="yd-list" id="yd-list">
                <div class="yd-item">
                    <div class="yd-con">
                        <div class="yd-child-item">
                            <div class="yd-child-dec">
                                <div class="yd-child-key">产品名称：</div>
                                <div class="yd-child-val">花糖糖北塘</div>
                            </div>
                        </div>
                        <div class="yd-child-item double-find">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">预报数量：</div>
                                <div class="yd-child-val">600</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">预报重量(吨)：</div>
                                <div class="yd-child-val">30.00</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">生产批次：</div>
                                <div class="yd-child-val">201907225559285</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">生产日期：</div>
                                <div class="yd-child-val">2019-07-24</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">包装规格：</div>
                                <div class="yd-child-val">50kg/包</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品单位：</div>
                                <div class="yd-child-val">包</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品等级：</div>
                                <div class="yd-child-val">一级</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品榨季：</div>
                                <div class="yd-child-val">19/20</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品大类：</div>
                                <div class="yd-child-val">白糖类</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">产品品牌：</div>
                                <div class="yd-child-val">华唐牌</div>
                            </div>
                        </div>
                    </div>

                    <div class="yd-con">
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">所属园区：</div>
                                <div class="yd-child-val">A园区</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">所属库房：</div>
                                <div class="yd-child-val">1号库房</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">申请库区：</div>
                                <div class="yd-child-val">A库区</div>
                            </div>
                            <div class="yd-child-dec double-find">
                                <div class="yd-child-key">申请库存(吨)：</div>
                                <div class="yd-child-val">130.00</div>
                            </div>
                        </div>
                        <div class="yd-child-item">
                            <div class="yd-child-dec">
                                <div class="yd-child-key">质检信息：</div>
                                <div class="yd-child-val">未录入</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- 添加库区 -->

            <div class="gd-add">
                <img class="gd-add-img" src="../img/1_33.png">
            </div>

            <div class="gd-infor" id='gd-infor'>
                <div class="gd-list gd-list-item">
                    <div class="gd-item">
                        <div class="gd-key">申请库存(吨)</div>
                        <input type="text" class="gd-val"></input>
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">所属园区</div>
                        <div type="text" class="gd-val"></div>
                        <img class="gd-img" src="../img/1_34.png" >
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">所属库房</div>
                        <div type="text" class="gd-val"></div>

                        <img class="gd-img" src="../img/1_34.png" >
                    </div>

                    <div class="gd-item">
                        <div class="gd-key">所属库区</div>
                        <div type="text" class="gd-val"></div>
                        <img class="gd-img" src="../img/1_34.png" >
                    </div>
                </div>

                <!-- <div class="gd-list gd-list-item">

                    <img class="gd-minus" src="../img/1_31.png" alt="" srcset="">
                    <div class="gd-item">
                        <div class="gd-key">申请库存(吨)</div>
                        <input type="text" class="gd-val"></input>


                    </div>
                    <div class="gd-item">
                        <div class="gd-key">所属园区</div>
                        <div type="text" class="gd-val"></div>

                        <img class="gd-img" src="../img/1_34.png" alt="" srcset="">
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">所属库房</div>
                        <div type="text" class="gd-val"></div>

                        <img class="gd-img" src="../img/1_34.png" alt="" srcset="">
                    </div>

                    <div class="gd-item">
                        <div class="gd-key">所属库区</div>
                        <div type="text" class="gd-val"></div>

                        <img class="gd-img" src="../img/1_34.png" alt="" srcset="">
                    </div>
                </div> -->
            </div>


            <!-- 保存工单 -->

            <div class="gd-btn">
                保存
            </div>

        </div>


        <!--大图-->
        <div class="preview-win" id="preview-win">
            <img src="../img/1_100.png" alt="">
        </div>



        <div class="mask">
            <div class="maskcon">

                <div class="maskcon-item after">
                    叉车作业
                </div>

                <div class="maskcon-item">
                    人工作业
                </div>

                <div class="maskcon-item">
                    叉车+人工作业
                </div>
            </div>
        </div>

    </div>
    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script>


        $('.gd-add-img').on('click', function () {
            var html = '';


            html += '<div class="gd-list gd-list-item">';
            html += '<img class="gd-minus" src="../img/1_31.png">';
            html += '<div class="gd-item">';
            html += ' <div class="gd-key">申请库存(吨)</div>';
            html += ' <input type="text" class="gd-val"></input>';


            html += '</div>';
            html += '<div class="gd-item">';
            html += '<div class="gd-key">所属园区</div>';
            html += '<div type="text" class="gd-val"></div>';

            html += '<img class="gd-img" src="../img/1_34.png" >';
            html += '</div>';
            html += '<div class="gd-item">';
            html += '<div class="gd-key">所属库房</div>';
            html += '<div type="text" class="gd-val"></div>';

            html += '<img class="gd-img" src="../img/1_34.png" >';
            html += '</div>';

            html += '<div class="gd-item">';
            html += '<div class="gd-key">所属库区</div>';
            html += '<div type="text" class="gd-val"></div>';

            html += '<img class="gd-img" src="../img/1_34.png" >';
            html += '</div>';
            html += '</div>';


            $('#gd-infor').append(html)
        })



        var doc = $('.container');

    
        $(doc).on('click','.gd-minus', function () {
            // debugger
            var that = this;
            $(that).parent().hide();
        })



    </script>
</body>

</html>