<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../scripts/plugins/iosSelect/iosSelect.css">
    <link rel="stylesheet" href="../css/rksqAddrksqT.css">
</head>

<body>

    <div class="container">

        <div class="header">
            <a href="javascript:history.back(-1)" class="return"> <img src="../img/1_40.png"></a>
            新增入库申请
        </div>

        <div class="content">

            <!--工单信息-->
            <div class="gd-infor">
                <div class="gd-list">
                    <div class="gd-item">
                        <div class="gd-key">申请单号</div>
                        <div class="gd-val" id="applyNo"></div>                      
                    </div>
                    <div class="gd-item">
                        <div class="gd-key">仓单编号</div>
                        <div class="gd-val">
                            <input type="text" class="gd-input" id="warehouseOrderNo">
                        </div>
                    </div>

                    <!--<div class="gd-item">
                    <div class="gd-key">仓租起始日</div>
                    <div class="gd-val" id='date' data-validateInfor="{strategy:isEmpty,msg:仓租起始日不能为空}"></div>
                    <img class="gd-img" src="../img/1_34.png">
                </div>-->

                    <!--<div class="gd-item" id="goTeam">
                    <div class="gd-key">装卸队伍</div>
                    <div class="gd-val team" id="serviceTeamText" data-validateInfor="{strategy:isEmpty,msg:装卸队伍不能为空}"></div>
                    <img class="gd-img" src="../img/1_34.png">
                </div>-->
                    <div class="gd-item">
                        <div class="gd-key">工作班次</div>
                        <div class="gd-val teamName">
                            <div class="gd-input" id="teamName"  ></div>
                        </div>

                    </div>

                    <div class="last-gd-item">
                        <div class="gd-left">备注：</div>
                        <div class="gd-right">
                            <textarea id="remarks"></textarea>
                        </div>
                    </div>
                </div>

                <!--选择产品-->
                <div class="showProd">
                    <img class="gd-add-img" src="../img/1_32.png">
                </div>

                <div class="yb-wrapper">

                    <!--<div class="ybproduct-item">-->
                        <!--&lt;!&ndash;申请明细&ndash;&gt;-->
                        <!--<div class="yd-list">-->
                            <!--<div class="yd-item">-->
                                <!--<div class="yd-con">-->
                                    <!--<div class="yd-child-item">-->
                                        <!--<div class="yd-child-dec">-->
                                            <!--<div class="yd-child-key">产品名称：</div>-->
                                            <!--<div class="yd-child-val productName"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="yd-child-item double-find">-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">预报数量：</div>-->
                                            <!--<div class="yd-child-val totalQuantity"></div>-->
                                        <!--</div>-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">预报重量(吨)：</div>-->
                                            <!--<div class="yd-child-val totalWeight"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="yd-child-item">-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">生产批次：</div>-->
                                            <!--<div class="yd-child-val produceBatchNo"></div>-->
                                        <!--</div>-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">生产日期：</div>-->
                                            <!--<div class="yd-child-val produceTime"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="yd-child-item">-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">包装规格：</div>-->
                                            <!--<div class="yd-child-val specification"></div>-->
                                        <!--</div>-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">产品单位：</div>-->
                                            <!--<div class="yd-child-val unit"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="yd-child-item">-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">产品等级：</div>-->
                                            <!--<div class="yd-child-val productLevel"></div>-->
                                        <!--</div>-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">产品榨季：</div>-->
                                            <!--<div class="yd-child-val zhaji"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="yd-child-item">-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">产品大类：</div>-->
                                            <!--<div class="yd-child-val productType"></div>-->
                                        <!--</div>-->
                                        <!--<div class="yd-child-dec double-find">-->
                                            <!--<div class="yd-child-key">产品品牌：</div>-->
                                            <!--<div class="yd-child-val productBrand"></div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                        <!--</div>-->

                        <!--&lt;!&ndash;添加库区&ndash;&gt;-->
                        <!--<div class="gd-add">-->
                            <!--<img class="gd-add-img" src="../img/1_32.png">-->
                        <!--</div>-->

                        <!--<div class="gd-wra">-->
                            <!--<div class="gd-list gd-list-item" data-applicationId="0">-->
                                <!--<div class="gd-item showPark">-->
                                    <!--<div class="gd-key">所属园区</div>-->
                                    <!--<div class="gd-val parkText" data-validateInfor="{strategy:isEmpty,msg:所属园区不能为空}"></div>-->
                                    <!--<img class="gd-img" src="../img/1_34.png">-->
                                <!--</div>-->
                                <!--<div class="gd-item showStoreroom">-->
                                    <!--<div class="gd-key">所属库房</div>-->
                                    <!--<div class="gd-val storeroomText" data-validateInfor="{strategy:isEmpty,msg:所属库房不能为空}">-->
                                    <!--</div>-->

                                    <!--<img class="gd-img" src="../img/1_34.png">-->
                                <!--</div>-->

                                <!--<div class="gd-item showReservoirArea">-->
                                    <!--<div class="gd-key">所属库区</div>-->
                                    <!--<div class="gd-val reservoirAreaText" data-validateInfor="{strategy:isEmpty,msg:所属库区不能为空}">-->
                                    <!--</div>-->
                                    <!--<img class="gd-img" src="../img/1_34.png">-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>

            </div>

            <div class="gd-btn" id="saveBtn">保存</div>
        </div>

        <!--大图-->
        <div class="preview-win" id="preview-win">
            <img src="../img/1_100.png" alt="">
        </div>

        <div class="mask">

            <div class="maskcon maskcon1">

            </div>
            <div class="maskcon maskcon2">

            </div>

            <div class="maskcon maskcon3">

            </div>

            <div class="maskcon maskcon4"></div>

            <!-- 产品等级 -->
            <div class="maskcon maskcon5">
                <div class="maskcon-item"></div>
            </div>

            <!-- 产品榨季 -->
            <div class="maskcon maskcon6"></div>
        </div>


        <!--商品列表-->
        <div class="product-win" id="product-win">
            <div class="product-con">
                <div class="search">
                    <input type="text" placeholder="输入产品名称搜索" id="productName"> <label id="scarchBtn">搜索</label>

                    <img src="../img/1_28.png">
                </div>

                <div class="scroll-wra" id="scrollWra">
                    <div class="wrapper">
                        <div class="list" id="list"></div>

                        <div class="loadText">上滑加载更多</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script src="../scripts/lib/ejs.min.js"></script>
    <script src="../scripts/lib/commonFunc.js"></script>
    <script src="../scripts/lib/common.js"></script>
    <script src="../scripts/lib/validate.js"></script>
    <script src="../scripts/lib/api.js"></script>
    <script src="../scripts/plugins/betterScroll/bscroll.js"></script>
    <script src="../scripts/plugins/iosSelect/iosSelect.js"></script>
    <script src="../scripts/plugins/iosSelect/date.js"></script>
    <script src="../scripts/other/rksqAddrksqT.js"></script>
</body>

</html>