<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/rksqListaddProducts.css">
</head>

<body>

    <div class="container">

        <div class="header">
            <a href="javascript:history.back(-1)" class="return"> <img src="../img/1_40.png"></a>
            选择产品
        </div>

        <div class="search">
            <input type="text" placeholder="输入产品名称搜索" id="productName"> <label id="scarchBtn">搜索</label>

            <img src="../img/1_28.png">
        </div>

        <div class="content">
            <div class="scroll-wra" id="scrollWra">
                <div class="wrapper">
                    <div class="list" id="list"></div>

                    <div class="loadText">上滑加载更多</div>
                </div>
            </div>
        </div>


    </div>

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script src="../scripts/lib/ejs.min.js"></script>
    <script src="../scripts/lib/common.js"></script>
    <script src="../scripts/lib/commonFunc.js"></script>
    <script src="../scripts/lib/api.js"></script>
    <script src="../scripts/plugins/betterScroll/bscroll.js"></script>
</body>

</html>