<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/rksqEditrksqS.css">

    <link rel="stylesheet" href="../scripts/plugins/iosSelect/iosSelect.css">
</head>

<body>

<div class="container">

    <div class="header">



        <a href="javascript:history.back(-1)" class="return"> <img src="../img/1_40.png"></a>
        编辑入库申请

    </div>

    <div class="content">

        <!--工单信息-->
        <div class="gd-infor">
            <div class="gd-list">
                <div class="gd-item">
                    <div class="gd-key">申请单号</div>
                    <div class="gd-val" id="applyNo"></div>
                </div>
                <div class="gd-item">
                    <div class="gd-key">合同编号</div>
                    <div class="gd-val" id="contractNo"></div>
                </div>
                <div class="gd-item">
                    <div class="gd-key">申请时间</div>
                    <div class="gd-val" id="applyTime"></div>
                </div>
                <div class="gd-item last-gd-item">
                    <div class="gd-left">备注：</div>
                    <div class="gd-right">
                        <textarea id="remarks"></textarea>
                    </div>
                </div>
                <div class="gd-item last-gd-item">
                    <div class="gd-left">附件：</div>

                    <div class="gd-right">
                        <img src="../img/1_32.png">
                    </div>
                </div>

            </div>
        </div>


        <!--申请明细-->
        <div class="yd-list" id="list"></div>

        <div class="gd-btn" id="saveBtn">保存</div>

    </div>

    <!--大图-->
    <div class="preview-win" id="preview-win">
        <img src="../img/1_100.png" alt="">
    </div>

    <div class="mask">

        <div class="maskcon maskcon1">

        </div>
        <div class="maskcon maskcon2">

        </div>

        <div class="maskcon maskcon3">

        </div>
    </div>

</div>
<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/ejs.min.js"></script>
<script src="../scripts/lib/common.js"></script>
<script src="../scripts/lib/commonFunc.js"></script>
<script src="../scripts/lib/validate.js"></script>
<script src="../scripts/lib/api.js"></script>
<script src="../scripts/plugins/betterScroll/bscroll.js"></script>
<script src="../scripts/plugins/iosSelect/iosSelect.js"></script>
<script src="../scripts/plugins/iosSelect/date.js"></script>
<script src="../scripts/other/rksqEditrksqS.js"></script>
</body>

</html>