<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/rkybListT.css">
</head>

<body>

    <div class="container">

        <div class="header">

            <a href="javascript:history.back(-1)" class="return"> <img src="../img/1_40.png"></a>
            入库预报
        </div>

        <div class="search">
            <input type="text" placeholder="输入产品名称搜索" id="productName"> <label id="scarchBtn">搜索</label>

            <img src="../img/1_28.png">
        </div>


        <div class="content">
            <div class="scroll-wra" id="scrollWra">
                <div class="wrapper">
                    <div class="list" id="list"></div>

                    <div class="loadText">上滑加载更多</div>
                </div>
            </div>
        </div>

    </div>

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
    <script src="../scripts/lib/ejs.min.js"></script>
    <script src="../scripts/lib/commonFunc.js"></script>
    <script src="../scripts/lib/common.js"></script>
    <script src="../scripts/lib/api.js"></script>
    <script src="../scripts/plugins/betterScroll/bscroll.js"></script>
    <script>
        var scrollWra = new BScroll('#scrollWra', {
            scrollbar: {
                fade: true
            },
            click: true,
            pullUpLoad: {
                threshold: 0
            }
        });

        var productName = '';

        var totalPage = 1;     // 总页数;
        var page = 1;          // 第一页;
        var html = '';

        getData('GET', api.rkybT.findPageApi, {
            accountId: accountId,
            pageNo: page,
            pageSize: 10,
            productName: productName,
        }, function (res) {
            if (res.code == 200) {
                if (res.data.list.length > 0) {
                    totalPage = res.data.totalPage;
                    var data = res.data.list;
                    renderData(data);
                } else {
                    $('.loadText').text('暂无数据');
                }
            }
        });

        scrollWra.on('pullingUp', function () {
            if (totalPage == page) {
                $('.loadText').text('没有更多数据了');
                return false;
            }

            page++;
            getData('GET', api.rkybT.findPageApi, {
                accountId: accountId,
                pageNo: page,
                pageSize: 10,
                productName: productName,
            }, function (res) {
                if (res.code == 200) {
                    if (res.data.list.length > 0) {
                        totalPage = res.data.totalPage;
                        var data = res.data.list;
                        renderData(data);
                    } else {
                        $('.loadText').text('暂无数据');
                    }
                }
            });

        });


        function renderData(data) {
            $('.loadText').text('正在加载中...');
            Global.requestTempByAjax('../temp/rkyb/rkybT/list.html', {
                list: data,
                accountId: accountId,
            }, function (template) {
                $('#list').append(template);
                scrollWra.finishPullUp();
                scrollWra.refresh();
                $('.loadText').text('上滑加载更多...');
            });
        }


        // 点击搜索
        $('#scarchBtn').on('click', function () {
            page = 1;
            $('#list').html('');
            productName = $('#productName').val();
            getData('GET', api.rkybT.findPageApi, {
                accountId: accountId,
                pageNo: page,
                pageSize: 10,
                productName: productName,
            }, function (res) {
                if (res.code == 200) {
                    if (res.data.list.length > 0) {
                        totalPage = res.data.totalPage;
                        var data = res.data.list;
                        renderData(data);
                    } else {
                        $('.loadText').text('暂无数据');
                    }
                }
            });
        });



        /*点击确认完成*/

        $('.container').on('click', '.content-item-btn1', function (e) {
            // debugger
            e.stopPropagation();
            var that = this;
            var id = $(that).parent().attr('data-id')

            
            common.alert({
                mask: true,
                title: '提示',
                content: '确认结束此预报?',
                cancelValue: '取消',
                okValue: '确认',
                dialog: true,
                ok: function (reg) {

                    getData('GET', api.rkybT.forecastFinish, {
                        accountId: accountId,
                        id: id,
                    }, function (res) {
                        if (res.code == 200) {
                            $(that).siblings('.content-item-btn').removeClass('btn1').addClass('btn3').text('已结束');
                            $(that).remove();
                        } else {
                            common.alert({
                                mask: true,
                                content: res.msg
                            })
                        }
                    })


                }
            });
        })
    </script>
</body>

</html>