<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=750, user-scalable=no">
    <link rel="stylesheet" href="../css/rkydList.css">

    <script src="../scripts/lib/jquery-2.2.2.min.js"></script>
</head>

<body>

    <div class="container">

        <div class="header">

            <div class="return"> <img src="../img/1_40.png"></div>
            入库运单
        </div>

        <div class="search">
            <input type="text" placeholder="输入出库单号/装卸队伍搜索"> <label>搜索</label>

            <img src="../img/1_28.png">
        </div>

        <div class="content">


            <div class="content-item">
                <div class="content-item-btn btn1">
                    新增申请
                </div>

                <div class="content-item-header">
                    OC201907230001
                </div>

                <div class="content-item-con">
                    <div class="con-item">

                        <div class="con-item-left">
                            <span>装卸队伍：</span>
                            <div class="overflow">蓝天劳务队伍1</div>
                        </div>
                    </div>
                    <div class="con-item">
                        <div class="con-item-left">
                            <span>出库数量：</span>
                            <div>600</div>
                        </div>
                        <div class="con-item-right">
                            <span>入库重量(吨)：</span>
                            <div>30.00</div>
                        </div>
                    </div>
                    <div class="con-item">
                        <div class="con-item-left">
                            <span>货主名称：</span>
                            <div class="overflow1">诺金供应链股份有限公司</div>
                        </div>
                    </div>

                    <div class="con-item">
                        <div class="con-item-left">
                            <span>产品名称：</span>
                            <div>华糖牌白砂糖</div>
                        </div>
                    </div>



                    <div class="con-item">
                        <div class="con-item-left">
                            <span>产品等级：</span>
                            <div>一级</div>
                        </div>

                    </div>

                    <div class="con-item">
                        <div class="con-item-left">
                            <span>产品大类：</span>
                            <div>白糖类</div>
                        </div>

                    </div>



                </div>
            </div>

            <div class="content-item">
                <div class="content-item-btn btn2">
                    编辑
                </div>

                <div class="content-item-header">
                    OC201907230001
                </div>

                <div class="content-item-con">
                    <div class="con-item">

                        <div class="con-item-left">

                            <span>申请时间：</span> 蓝天劳务队伍1
                        </div>
                    </div>
                    <div class="con-item">

                        <div class="con-item-left">

                            <span>装卸队伍：</span> 蓝天劳务队伍1
                        </div>
                        <div class="con-item-right">
                            <span>完成如期：</span> 2019-09-11
                        </div>
                    </div>


                </div>
            </div>

            <div class="content-item">
                <div class="content-item-btn btn3">
                    已出库
                </div>

                <div class="content-item-header">
                    OC201907230001
                </div>

                <div class="content-item-con">
                    <div class="con-item">

                        <div class="con-item-left">

                            <span>申请时间：</span> 蓝天劳务队伍1
                        </div>
                    </div>
                    <div class="con-item">

                        <div class="con-item-left">

                            <span>装卸队伍：</span> 蓝天劳务队伍1
                        </div>
                        <div class="con-item-right">
                            <span>完成如期：</span> 2019-09-11
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>

</body>

</html>