<% for (var i = 0; i < result.list.length; i++) { %>
<div class="content-item" data-id="<%- result.list[i].stockAreaAdjustId %>">

	<!-- 编号 -->
	<div class="content-item-header">
		<%- result.list[i].areaAdjustNo %>
	</div>

	<div class="content-item-con">
		
		<div class="con-item">
			<div class="con-item-left">
				<span>装卸队伍：</span>
				<div>
					<%- result.list[i].serviceTeam %>
				</div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>移库数量：</span>
				<div>
					<%- result.list[i].adjustQuantity %>
				</div>
			</div>
			<div class="con-item-right">
				<span>移库重量(吨)：</span>
				<div>
					<%- result.list[i].adjustWeight %>
				</div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>货主名称：</span>
				<div class="overflow1">
					<%- result.list[i].customerName %>
				</div>
			</div>
		</div>


		<div class="con-item">
			<div class="con-item-left">
				<span>产品名称：</span>
				<div>
					<%- result.list[i].productName %>
				</div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品等级：</span>
				<div>
					<%- result.list[i].productLevel %>
				</div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品大类：</span>
				<div>
					<%- result.list[i].productType %>
				</div>
			</div>
		</div>

	</div>
</div>
<% } %>