<% for (var i = 0; i < result.list.length; i++) { %>
<div class="yd-item">
    <div class="yd-con">
        <div class="yd-child-item" data-id='<%- result.list[i].id %>'>
            <div class="yd-child-dec">
                <div class="yd-child-key">产品名称：</div>
                <div class="yd-child-val"><%- result.list[i].productName %></div>
            </div>
        </div>
        <div class="yd-child-item">
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">预报数量：</div>
                <div class="yd-child-val"><%- result.list[i].forecastTotalQuantity %></div>
            </div>
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">预报重量(吨)：</div>
                <div class="yd-child-val"><%- result.list[i].forecastTotalWeight %></div>
            </div>
        </div>
        <div class="yd-child-item">
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">生产批次：</div>
                <div class="yd-child-val"><%- result.list[i].produceBatchNo %></div>
            </div>
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">生产日期：</div>
                <div class="yd-child-val"><%- result.list[i].produceTime %></div>
            </div>
        </div>
        <div class="yd-child-item">
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">包装规格：</div>
                <div class="yd-child-val"><%- result.list[i].specificationName %></div>
            </div>
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">产品单位：</div>
                <div class="yd-child-val"><%- result.list[i].unit %></div>
            </div>
        </div>
        <div class="yd-child-item">
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">产品等级：</div>
                <div class="yd-child-val"><%- result.list[i].productLevel %></div>
            </div>
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">产品榨季：</div>
                <div class="yd-child-val"><%- result.list[i].zhaji %></div>
            </div>
        </div>
        <div class="yd-child-item">
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">产品大类：</div>
                <div class="yd-child-val"><%- result.list[i].productType %></div>
            </div>
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">产品品牌：</div>
                <div class="yd-child-val"><%- result.list[i].productBrand %></div>
            </div>
        </div>
    </div>
    <% for (var a = 0; a < result.list[i].productList.length; a++) { %>
    <div class="yd-con yd-con1">
        <div class="yd-child-item">
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">所属园区：</div>
                <div class="yd-child-val"><%- result.list[i].productList[a].parkName %></div>
            </div>
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">所属库房：</div>
                <div class="yd-child-val"><%- result.list[i].productList[a].warehouseName %></div>
            </div>
        </div>
        <div class="yd-child-item">
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">申请库区：</div>
                <div class="yd-child-val"><%- result.list[i].productList[a].warehouseAreaName %></div>
            </div>
            <div class="yd-child-dec double-find">
                <div class="yd-child-key">申请库存(吨)：</div>
                <div class="yd-child-val"><%- result.list[i].productList[a].applyQuantity %></div>
            </div>
        </div>
        <div class="yd-child-item">
            <div class="yd-child-dec">
                <div class="yd-child-key">质检信息：</div>
                <div class="yd-child-val"><%- result.list[i].productList[a].checkStatus %></div>
            </div>
        </div>
    </div>

    <% } %>
</div>
<% } %>