
    <% for (var i = 0; i < result.list.length; i++) { %>
        <% var warehouseList = result.list[i].warehouseList %>
        <div class="yd-item">
            <div class="yd-con">
                <div class="yd-child-item">
                    <div class="yd-child-dec">
                        <div class="yd-child-key">产品名称：</div>
                        <div class="yd-child-val productName" data-productId="<%- result.list[i].productId %>" data-specificationValue="<%- result.list[i].specificationValue %>"><%- result.list[i].productName %></div>
                    </div>
                </div>
                <div class="yd-child-item">
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">申请数量：</div>
                        <div class="yd-child-val"><%- result.list[i].allApplyQuantity %></div>
                    </div>
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">申请重量(吨)：</div>
                        <div class="yd-child-val"><%- result.list[i].allApplyInventory %></div>
                    </div>
                </div>
                <div class="yd-child-item">
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">生产批次：</div>
                        <div class="yd-child-val produceBatch" data-produceBatchId="<%- result.list[i].produceBatchId %>"><%- result.list[i].productBatch %></div>
                    </div>
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">生产日期：</div>
                        <div class="yd-child-val"><%- result.list[i].productTime %></div>
                    </div>
                </div>
                <div class="yd-child-item">
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">包装规格：</div>
                        <div class="yd-child-val"><%- result.list[i].specification %></div>
                    </div>
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">产品单位：</div>
                        <div class="yd-child-val"><%- result.list[i].unit %></div>
                    </div>
                </div>
                <div class="yd-child-item">
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">产品等级：</div>
                        <div class="yd-child-val productLevel" data-productLevelId="<%- result.list[i].productLevelId %>"><%- result.list[i].productLevel %></div>
                    </div>
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">产品榨季：</div>
                        <div class="yd-child-val"><%- result.list[i].zhaji %></div>
                    </div>
                </div>
                <div class="yd-child-item">
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">产品大类：</div>
                        <div class="yd-child-val"><%- result.list[i].productType %></div>
                    </div>
                    <div class="yd-child-dec double-find">
                        <div class="yd-child-key">产品品牌：</div>
                        <div class="yd-child-val"><%- result.list[i].productBrand %></div>
                    </div>
                </div>
            </div>

            <!-- 添加库区 -->
            <div class="gd-add">
                <img class="gd-add-img" src="../img/1_33.png">
            </div>

            <div class="gd-infor">
                <% if (warehouseList.length > 0) { %>
                    <% for (var j = 0; j < warehouseList.length; j++) { %>
                        <div class="gd-list gd-list-item" data-applicationId="0" data-warehouseareaId="<%- warehouseList[j].warehouseAreaId %>" data-applyItemId="<%- warehouseList[j].applyItemId %>">
                            <img class="gd-minus" src="../img/1_31.png">
                            <div class="gd-item">
                                <div class="gd-key">出库重量(吨)</div>
                                <input type="text" class="gd-val projectWeight" value="<%- warehouseList[j].applyInventory %>"
                                       data-validateInfor="{strategy:isEmpty,msg:申请库存不能为空}|{strategy:isNumber,msg:出库重量需为数字}">
                            </div>
                            <div class="gd-item showPark">
                                <div class="gd-key">所属园区</div>
                                <div class="gd-val parkText" data-parkId="<%- warehouseList[j].parkId %>" data-validateInfor="{strategy:isEmpty,msg:所属园区不能为空}"><%- warehouseList[j].park %></div>
                                <img class="gd-img" src="../img/1_34.png">
                            </div>
                            <div class="gd-item showStoreroom">
                                <div class="gd-key">所属库房</div>
                                <div class="gd-val storeroomText" data-warehouseId="<%- warehouseList[j].warehouseId %>" data-validateInfor="{strategy:isEmpty,msg:所属库房不能为空}"><%- warehouseList[j].warehouse %></div>

                                <img class="gd-img" src="../img/1_34.png">
                            </div>

                            <div class="gd-item showReservoirArea">
                                <div class="gd-key">出库库区</div>
                                <div class="gd-val reservoirAreaText" data-warehouseareaId="<%- warehouseList[j].warehouseAreaId %>" data-validateInfor="{strategy:isEmpty,msg:出库库区不能为空}"><%- warehouseList[j].warehouseArea %></div>
                                <img class="gd-img" src="../img/1_34.png">
                            </div>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="gd-list gd-list-item" data-applicationId="0">
                        <img class="gd-minus" src="../img/1_31.png">
                        <div class="gd-item">
                            <div class="gd-key">出库重量(吨)</div>
                            <input type="text" class="gd-val weight"
                                   data-validateInfor="{strategy:isEmpty,msg:申请库存不能为空}|{strategy:isNumber,msg:出库重量需为数字}">
                        </div>
                        <div class="gd-item showPark">
                            <div class="gd-key">所属园区</div>
                            <div class="gd-val parkText" data-validateInfor="{strategy:isEmpty,msg:所属园区不能为空}"></div>
                            <img class="gd-img" src="../img/1_34.png">
                        </div>
                        <div class="gd-item showStoreroom">
                            <div class="gd-key">所属库房</div>
                            <div class="gd-val storeroomText" data-validateInfor="{strategy:isEmpty,msg:所属库房不能为空}"></div>

                            <img class="gd-img" src="../img/1_34.png">
                        </div>

                        <div class="gd-item showReservoirArea">
                            <div class="gd-key">出库库区</div>
                            <div class="gd-val reservoirAreaText" data-validateInfor="{strategy:isEmpty,msg:出库库区不能为空}"></div>
                            <img class="gd-img" src="../img/1_34.png">
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
    <% } %>