<% for (var i = 0; i < result.list.length; i++) { %>
<div class="content-item" data-outWaybillNo="<%- result.list[i].outWaybillNo %>" data-id="<%- result.list[i].id %>">

	<% if (result.list[i].statusValue==1) { %>

		<% if ( result.list[i].waybillStatusValue == 1 || result.list[i].waybillStatusValue == 2){ %>
		<div class="content-item-btn btn1" id="btn1">
			确认完成
		</div>

		<% }else if (result.list[i].waybillStatusValue == 22) { %>
		<div class="content-item-btn btn5" id="btn5">
			生成工单
		</div>
		<% } else { %>

		<div class="content-item-btn btn3">
			<%- result.list[i].waybillStatus %>
		</div>

		<% } %>

	<% }else{ %>

	<div class="content-item-btn btn3">
		<%- result.list[i].waybillStatus %>
	</div>

	<% } %>
	<div class="content-item-header">
		<%- result.list[i].outWaybillNo %>
	</div>

	<div class="content-item-con">
		<div class="con-item">

			<div class="con-item-left">
				<span>装卸队伍：</span>
				<div class="overflow"><%- result.list[i].serviceTeamName %></div>
			</div>
		</div>
		<div class="con-item">
			<div class="con-item-left">
				<span>出库数量：</span>
				<div><%- result.list[i].totalQuantity %></div>
			</div>
			<div class="con-item-right">
				<span>出库重量(吨)：</span>
				<div><%- result.list[i].totalInventory %></div>
			</div>
		</div>


		<div class="con-item">
			<div class="con-item-left">
				<span>已出库数量：</span>
				<div><%- result.list[i].outedTotalQuantity %></div>
			</div>
			<div class="con-item-right">
				<span>已出库重量(吨)：</span>
				<div><%- result.list[i].outedTotalWeight %></div>
			</div>
		</div>
		<div class="con-item">
			<div class="con-item-left">
				<span>货主名称：</span>
				<div class="overflow1"><%- result.list[i].customerName %></div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品名称：</span>
				<div class="overflow"><%- result.list[i].productName %></div>
			</div>

			<div class="con-item-right">
				<span>运输司机：</span>
				<div class="overflow3"><%- result.list[i].driverName %></div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品等级：</span>
				<div class="overflow"><%- result.list[i].productLevelName %></div>
			</div>
			<div class="con-item-right">
				<span>产品榨季：</span>
				<div class="overflow3"><%- result.list[i].zhajiName %></div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品大类：</span>
				<div class="overflow"><%- result.list[i].productTypeName %></div>
			</div>
			<div class="con-item-right">
				<span>产品品牌：</span>
				<div class="overflow3"><%- result.list[i].productBrandName %></div>
			</div>
		</div>


		<div class="con-item">
			<div class="con-item-left">
				<span>出库库区：</span>
				<div class="overflow"><%- result.list[i].warehouseAreaName %></div>
			</div>
		</div>
	</div>
</div>
<% } %>