<% for (var i = 0; i < result.list.length; i++) { %>
<div class="content-item" data-outWaybillNo="<%- result.list[i].outWaybillNo %>">

	<% if (result.list[i].outedTotalWeight == result.list[i].totalInventory) { %>
		<div class="content-item-btn btn2">
			确认完成
		</div>
	<% } %>
	
	<% if (result.list[i].waybillStatus == 1) { %>
		<div class="content-item-btn confirm-complete btn1">
			待出库
		</div>
	<% } %>
	
	<% if (result.list[i].waybillStatus == 2) { %>
		<div class="content-item-btn btn3">
			已完成
		</div>
	<% } %>
	
	<% if (result.list[i].waybillStatus == 3) { %>
		<div class="content-item-btn btn3">
			已装车
		</div>
	<% } %>
	
	<% if (result.list[i].waybillStatus == 4) { %>
		<div class="content-item-btn btn1">
			已出场地
		</div>
	<% } %>
	
	<% if (result.list[i].waybillStatus == 5) { %>
		<div class="content-item-btn btn3">
			已送达
		</div>
	<% } %>

	<div class="content-item-header">
		<%- result.list[i].outWaybillNo %>
	</div>

	<div class="content-item-con">
		<div class="con-item">

			<div class="con-item-left">
				<span>装卸队伍：</span>
				<div class="overflow"><%- result.list[i].serviceTeamName %></div>
			</div>
		</div>
		<div class="con-item">
			<div class="con-item-left">
				<span>出库数量：</span>
				<div><%- result.list[i].totalQuantity %></div>
			</div>
			<div class="con-item-right">
				<span>出库重量(吨)：</span>
				<div><%- result.list[i].totalInventory %></div>
			</div>
		</div>
		<div class="con-item">
			<div class="con-item-left">
				<span>货主名称：</span>
				<div class="overflow1"><%- result.list[i].customerName %></div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品名称：</span>
				<div><%- result.list[i].productName %></div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品等级：</span>
				<div><%- result.list[i].productLevelName %></div>
			</div>
			<div class="con-item-right">
				<span>产品榨季：</span>
				<div><%- result.list[i].zhajiName %></div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品大类：</span>
				<div><%- result.list[i].productTypeName %></div>
			</div>
			<div class="con-item-right">
				<span>产品品牌：</span>
				<div><%- result.list[i].productBrandName %></div>
			</div>
		</div>


		<div class="con-item">
			<div class="con-item-left">
				<span>出库库区：</span>
				<div><%- result.list[i].warehouseAreaName %></div>
			</div>
		</div>
	</div>
</div>
<% } %>
