<% for (var i = 0; i < result.list.length; i++) { %>
    <div class="yd-item">
        <div class="yd-con">
            <div class="yd-child-item">
                <div class="yd-child-dec">
                    <div class="yd-child-key">入库单号：</div>
                    <div class="yd-child-val"><%- result.list[i].storageNo %></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">入库库区：</div>
                    <div class="yd-child-val"><%- result.list[i].warehouseAreaName %></div>
                </div>
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">所属库房：</div>
                    <div class="yd-child-val"><%- result.list[i].warehouseName %></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">所属园区：</div>
                    <div class="yd-child-val"><%- result.list[i].parkName %></div>
                </div>
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">附加费用(元)：</div>
                    <div class="yd-child-val"></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">入库数量：</div>
                    <div class="yd-child-val"><%- result.list[i].quantity %></div>
                </div>
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">入库重量(吨)：</div>
                    <div class="yd-child-val"><%- result.list[i].weight %></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec">
                    <div class="yd-child-key">仓租起始日：</div>
                    <div class="yd-child-val"><%- result.list[i].rentStartTime %></div>
                </div>
            </div>

        </div>
        <div class="yd-con">
            <div class="yd-child-item">
                <div class="yd-child-dec">
                    <div class="yd-child-key">产品名称：</div>
                    <div class="yd-child-val"><%- result.list[i].productName %></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">生产批次：</div>
                    <div class="yd-child-val"><%- result.list[i].produceBatchNo %></div>
                </div>
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">生产日期：</div>
                    <div class="yd-child-val"><%- result.list[i].produceTime %></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">包装规格：</div>
                    <div class="yd-child-val"><%- result.list[i].specificationName %></div>
                </div>
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">产品单位：</div>
                    <div class="yd-child-val"><%- result.list[i].unit %></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">产品等级：</div>
                    <div class="yd-child-val"><%- result.list[i].productLevel %></div>
                </div>
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">产品榨季：</div>
                    <div class="yd-child-val"><%- result.list[i].zhaji %></div>
                </div>
            </div>
            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">产品大类：</div>
                    <div class="yd-child-val"><%- result.list[i].productType %></div>
                </div>
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">产品品牌：</div>
                    <div class="yd-child-val"><%- result.list[i].productBrand %></div>
                </div>
            </div>
        </div>
</div>
<% } %>
