<% for (var i = 0; i < result.list.length; i++) { %>
    <div class="content-item">
        <div class="item-header">
            <div class="head-key">排队序号：</div>
            <div class="head-val"><%- result.list[i].showTime %></div>
        </div>
        <div class="item-header">
            <div class="head-key">
                <div class="team-num"><%- result.list[i].queueSequence %></div>
                <div class="team-text">正在排队,等待放行</div>
            </div>
            <div class="head-val">
                <div class="release-btn" data-queueCodeRecordId="<%- result.list[i].queueCodeRecordId %>">允许放行</div>
            </div>
        </div>

        <div class="yd-con">

            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">车牌号码：</div>
                    <div class="yd-child-val"><%- result.list[i].platNo %></div>
                </div>

                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">装车地点：</div>
                    <div class="yd-child-val"><%- result.list[i].loadWhere %></div>
                </div>
            </div>
        </div>

        <div class="yd-con">

            <div class="yd-child-item">
                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">司机名称：</div>
                    <div class="yd-child-val"><%- result.list[i].driverName %></div>
                </div>

                <div class="yd-child-dec double-find">
                    <div class="yd-child-key">联系电话：</div>
                    <div class="yd-child-val"><%- result.list[i].contactPhone %></div>
                </div>
            </div>
        </div>
    </div>
<% } %>