<% for (var i = 0; i < result.list.length; i++) { %>
<div class="yd-item">
	<div class="yd-con">
		<div class="yd-child-item">
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">产品名称：</div>
				<div class="yd-child-val"><%- result.list[i].productName %></div>
			</div>
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">特别关注：</div>
				<div class="yd-child-val"><%- result.list[i].focusFlag %></div>
			</div>
		</div>
		<div class="yd-child-item">
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">生产批次：</div>
				<div class="yd-child-val"><%- result.list[i].productBatch %></div>
			</div>
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">包装规格：</div>
				<div class="yd-child-val"><%- result.list[i].specification %></div>
			</div>
		</div>
		<div class="yd-child-item">
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">产品等级：</div>
				<div class="yd-child-val"><%- result.list[i].productLevel %></div>
			</div>
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">产品榨季：</div>
				<div class="yd-child-val"><%- result.list[i].zhaji %></div>
			</div>
		</div>
		<div class="yd-child-item">
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">产品大类：</div>
				<div class="yd-child-val"><%- result.list[i].productType %></div>
			</div>
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">产品品牌：</div>
				<div class="yd-child-val"><%- result.list[i].productBrand %></div>
			</div>
		</div>
	</div>

	<% for (var a = 0; a < result.list[i].locationList.length; a++) { %>
	<div class="yd-con yd-con1">
		<div class="yd-child-item double-find">
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">所属库房：</div>
				<div class="yd-child-val">
					<%- result.list[i].locationList[i].warehouse %>
				</div>
			</div>
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">库区名称：</div>
				<div class="yd-child-val">
					<%- result.list[i].locationList[i].warehouseArea %>
				</div>
			</div>
		</div>
		<div class="yd-child-item">
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">锁定库存(吨)：</div>
				<div class="yd-child-val"><%- result.list[i].locationList[i].lockInventory %></div>
			</div>
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">实物库存(吨)：</div>
				<div class="yd-child-val"><%- result.list[i].locationList[i].itemInventory %></div>
			</div>
		</div>
		<div class="yd-child-item">
			<div class="yd-child-dec double-find">
				<div class="yd-child-key">解锁库存(吨)：</div>
				<div class="yd-child-val"><%- result.list[i].locationList[i].unlockInventory %></div>
			</div>
		</div>
	</div>
	<% } %>

</div>
<% } %>
