<% for (var i = 0; i < result.list.length; i++) { %>
<div class="content-item" data-applyNo="<%- result.list[i].applyNo %>">
	<!-- 新增运单 -->

	<% if (result.list[i].outedTotalWeight < result.list[i].totalWeight) { %>
	<div class="content-item-btn btn1">
		新增运单
	</div>
	<% } %>

	<!-- 编号 -->
	<div class="content-item-header">
		<%- result.list[i].applyNo %>
	</div>

	<div class="content-item-con">
		<div class="con-item">

			<div class="con-item-left">

				<span>申请时间：</span>
				<div>
					<%- result.list[i].applyTime %>
				</div>
			</div>
		</div>
		<div class="con-item">

			<div class="con-item-left">

				<span>申请数量：</span>
				<div>
					<%- result.list[i].totalQuantity %>
				</div>
			</div>
			<div class="con-item-right">
				<span>申请重量(吨)：</span>
				<div>
					<%- result.list[i].totalWeight %>
				</div>
			</div>
		</div>


		<div class="con-item">

			<div class="con-item-left">

				<span>已申请数量：</span>
				<div>
					<%- result.list[i].outedTotalQuantity %>
				</div>
			</div>
			<div class="con-item-right">
				<span>已申请重量(吨)：</span>
				<div>
					<%- result.list[i].outedTotalWeight %>
				</div>
			</div>
		</div>


		<div class="con-item">
			<div class="con-item-left">
				<span>货主名称：</span>
				<div class="overflow1">
					<%- result.list[i].customerName %>
				</div>
			</div>
		</div>


		<div class="con-item">
			<div class="con-item-left">
				<span>产品名称：</span>
				<div>
					<%- result.list[i].productName %>
				</div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品等级：</span>
				<div>
					<%- result.list[i].productLevel %>
				</div>
			</div>
		</div>

		<div class="con-item">
			<div class="con-item-left">
				<span>产品大类：</span>
				<div>
					<%- result.list[i].productType %>
				</div>
			</div>
		</div>

	</div>
</div>
<% } %>